In [2]:
# Load data and set pandas options to display the full dataset if needed
import re
import pandas as pd
from Notebooks import utils

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None)  
pd.set_option('display.max_colwidth', -1)  
restaurant_data = pd.read_csv('../Data/restaurants.tsv', sep='\t')
restaurant_data = restaurant_data.set_index(['id'], drop=False)
restaurant_data.head()
# Load the gold standard duplicates to calculate metrics
true_duplicates = pd.read_csv('../Data/restaurants_DPL.tsv', sep='\t')

In [3]:
print('Duplicates without any preprocessing')
duplicates_bool = utils.get_duplicates_bool(restaurant_data)

Duplicates without any preprocessing
Duplicates in address: 92
Duplicates in name: 88
Duplicates in phone: 7
Duplicates in city: 815
Duplicates in address name and phone: 0
Duplicates in address city and name: 24
Duplicates in name city and phone0
Duplicates in address, city, name and phone: 0
duplicates in 3 columns of address, city, name and phone24

In [4]:
print('Metrics without any preprocessing')
detected_duplicates = restaurant_data[duplicates_bool == True]
utils.print_metrics(restaurant_data, detected_duplicates, true_duplicates)

Metrics without any preprocessing
All entries in original dataset: 864
Detected duplicates (all): 24
Real duplicates (from gold standard): 112
True positives: 24
True negatives: 752
False positives: 0
False negatives: 88
Accuracy 0.8981481481481481
Precision: 1.0
Recall: 0.21428571428571427

In [5]:
# Get info about the data and datatypes of the DataFrame
restaurant_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864 entries, 1 to 864
Data columns (total 6 columns):
id         864 non-null int64
name       864 non-null object
address    864 non-null object
city       864 non-null object
phone      864 non-null object
type       863 non-null object
dtypes: int64(1), object(5)
memory usage: 47.2+ KB

In [6]:
# Remove special characters from phone, address, name and city to detect duplicates
restaurant_data = utils.remove_special_characters(restaurant_data)
restaurant_data = utils.trim_multiple_blanks(restaurant_data)

In [7]:
# Remove the direction in address and name because it's inconsistent over the dataset
direction_regex = re.compile('(( |^)((south)|(east)|(west)|(north)|(ne)|(se)|(nw)|(sw)|s|w|e|n)( |$))')
restaurant_data.address = restaurant_data.address.map(lambda x: direction_regex.sub(' ', x))
restaurant_data.name = restaurant_data.name.map(lambda x: direction_regex.sub(' ', x))
restaurant_data.city = restaurant_data.city.map(lambda x: direction_regex.sub(' ', x))
restaurant_data = utils.trim_multiple_blanks(restaurant_data)

In [8]:
print('Duplicates after removing generic clearing')
duplicates_bool = utils.get_duplicates_bool(restaurant_data)

Duplicates after removing generic clearing
Duplicates in address: 103
Duplicates in name: 91
Duplicates in phone: 116
Duplicates in city: 815
Duplicates in address name and phone: 51
Duplicates in address city and name: 26
Duplicates in name city and phone41
Duplicates in address, city, name and phone: 25
duplicates in 3 columns of address, city, name and phone68

In [9]:
print('Metrics after generic clearing')
detected_duplicates = restaurant_data[duplicates_bool == True]
utils.print_metrics(restaurant_data, detected_duplicates, true_duplicates)

Metrics after generic clearing
All entries in original dataset: 864
Detected duplicates (all): 68
Real duplicates (from gold standard): 112
True positives: 68
True negatives: 752
False positives: 0
False negatives: 44
Accuracy 0.9490740740740741
Precision: 1.0
Recall: 0.6071428571428571

In [10]:
# Map multiple occurrences of the same city in different writing
# It could also be a good idea to map all city parts to one city (i.e. hollywood -> los angeles)
city_map = {'la': 'los angeles', 'new york city': 'new york'}
restaurant_data.city = restaurant_data.city.replace(city_map)

In [11]:
print('Duplicates after clearing city')
duplicates_bool = utils.get_duplicates_bool(restaurant_data)

Duplicates after clearing city
Duplicates in address: 103
Duplicates in name: 91
Duplicates in phone: 116
Duplicates in city: 817
Duplicates in address name and phone: 51
Duplicates in address city and name: 49
Duplicates in name city and phone78
Duplicates in address, city, name and phone: 48
duplicates in 3 columns of address, city, name and phone82

In [12]:
print('Metrics after clearing city')
detected_duplicates = restaurant_data[duplicates_bool == True]
utils.print_metrics(restaurant_data, detected_duplicates, true_duplicates)

Metrics after clearing city
All entries in original dataset: 864
Detected duplicates (all): 82
Real duplicates (from gold standard): 112
True positives: 82
True negatives: 752
False positives: 0
False negatives: 30
Accuracy 0.9652777777777778
Precision: 1.0
Recall: 0.7321428571428571

In [13]:
print('length of unique addresses before clearing ' + str(len(restaurant_data.address.unique())))

length of unique addresses before clearing 761

In [14]:
# Remove unnecessary explaination parts from the address string for a more accurate duplicate detection
restaurant_data['address'] = restaurant_data['address'].str.split(r' between| off| near| at| in').str[0]

In [15]:
# Remove appendixes of numbers because they are inconsistent over the dataset
restaurant_data.address = restaurant_data.address.map(lambda x: re.sub(r"(?<=\d)(st|nd|rd|th)\b", '', x))

In [16]:
# Standardize the address even more
address_num_map = {'first': '1', 'second': '2', 'third': '3', 'fourth': '4', 'fifth': '5', 'sixth': '6',
                   'seventh': '7','eighth' : '8', 'ninth': '9', 'tenth': '10', 'eleventh': '11', 'twelfth': '12'}
address_name_map = {'la': 'los angeles', 'ave': 'avenue',  'rd': 'road', 'blv': 'boulevard', 
                    'blvd': 'boulevard', 'st': 'street'}
address_map = {**address_name_map, **address_num_map}
restaurant_data.address = restaurant_data.address.map(lambda x: ' '.join([address_map.get(i, i) for i in x.split()]))

In [17]:
print('Unique addresses after clearing ' + str(len(restaurant_data.address.unique())))

Unique addresses after clearing 739

In [18]:
print('Duplicates after clearing the address')
duplicates_bool = utils.get_duplicates_bool(restaurant_data)

Duplicates after clearing the address
Duplicates in address: 125
Duplicates in name: 91
Duplicates in phone: 116
Duplicates in city: 817
Duplicates in address name and phone: 68
Duplicates in address city and name: 67
Duplicates in name city and phone78
Duplicates in address, city, name and phone: 65
duplicates in 3 columns of address, city, name and phone83

In [19]:
print('Metrics after clearing the address')
detected_duplicates = restaurant_data[duplicates_bool == True]
utils.print_metrics(restaurant_data, detected_duplicates, true_duplicates)

Metrics after clearing the address
All entries in original dataset: 864
Detected duplicates (all): 83
Real duplicates (from gold standard): 112
True positives: 83
True negatives: 752
False positives: 0
False negatives: 29
Accuracy 0.9664351851851852
Precision: 1.0
Recall: 0.7410714285714286

In [20]:
print('Unique names before clearing name: ' + str(len(restaurant_data.name.unique())))

Unique names before clearing name: 773

In [21]:
unique_city_list = restaurant_data.city.unique()
restaurant_data.name = restaurant_data.name.str.split(r' between| off| near| at| in| of').str[0]
city_regex = re.compile('the|restaurant|and|new york city|' +'|'.join(map(re.escape, unique_city_list)))
restaurant_data.name = [city_regex.sub('', name) for name in restaurant_data.name]

In [22]:
restaurant_data.name = restaurant_data.name.apply(lambda x: ' '.join(sorted(x.split(' '))))
restaurant_data = utils.trim_multiple_blanks(restaurant_data)

In [23]:
print('Unique addresses after clearing name: ' + str(len(restaurant_data.address.unique())))

Unique addresses after clearing name: 739

In [24]:
print('Duplicates after clearing name')
duplicates_bool = utils.get_duplicates_bool(restaurant_data)

Duplicates after clearing name
Duplicates in address: 125
Duplicates in name: 105
Duplicates in phone: 116
Duplicates in city: 817
Duplicates in address name and phone: 76
Duplicates in address city and name: 73
Duplicates in name city and phone84
Duplicates in address, city, name and phone: 71
duplicates in 3 columns of address, city, name and phone91

In [25]:
print('Metrics after clearing')
detected_duplicates = restaurant_data[duplicates_bool == True]
detected_non_duplicates = restaurant_data[duplicates_bool == False]
utils.print_metrics(restaurant_data, detected_duplicates, true_duplicates)

Metrics after clearing
All entries in original dataset: 864
Detected duplicates (all): 91
Real duplicates (from gold standard): 112
True positives: 91
True negatives: 752
False positives: 0
False negatives: 21
Accuracy 0.9756944444444444
Precision: 1.0
Recall: 0.8125

In [26]:
# Check the dataset without duplicates
restaurant_data[restaurant_data['id'].isin(detected_duplicates['id'])== False].head(100)

,id,name,address,city,phone,type
id,,,,,,
1,1,arnie morton,435 los angeles cienega boulevard,los angeles,3102461501,american
3,3,art delicatessen,12224 ventura boulevard,studio city,8187621221,american
4,4,art deli,12224 ventura boulevard,studio city,8187621221,delis
5,5,belair hotel,701 stone canyon road,bel air,3104721211,californian
7,7,bizou cafe,14016 ventura boulevard,sherman oaks,8187883536,french
9,9,campanile,624 los angeles brea avenue,los angeles,2139381447,american
11,11,chinois main on,2709 main street,santa monica,3103929025,french
13,13,citrus,6703 melrose avenue,los angeles,2138570034,californian
15,15,fenix,8358 sunset boulevard,hollywood,2138486677,american
17,17,granita,23725 malibu road,malibu,3104560488,californian
19,19,alley grill on,9560 dayton way,los angeles,3102760615,american
20,20,grill,9560 dayton way,beverly hills,3102760615,american (traditional)
21,21,katsu,1972 hillhurst avenue,los angeles,2136651891,asian
22,22,katsu,1972 hillhurst avenue,los feliz,2136651891,japanese
23,23,lorangerie,903 los angeles cienega boulevard,los angeles,3106529770,french
25,25,chardonnay le,8284 melrose avenue,los angeles,2136558880,french
26,26,chardonnay le,8284 melrose avenue,los angeles,2136558880,french bistro
27,27,loca veneta,3 street,los angeles,3102741893,italian
29,29,matsuhisa,129 los angeles cienega boulevard,beverly hills,3106599639,asian
31,31,palm,9001 santa monica boulevard,los angeles,3105508811,american
33,33,patina,5955 melrose avenue,los angeles,2134671108,californian
35,35,original philippe,1001 alameda street,los angeles,2136283781,american
37,37,bistro pinot,12969 ventura boulevard,los angeles,8189900500,french
39,39,il rex ristorante,617 olive street,los angeles,2136272300,italian
41,41,spago,1114 horn avenue,los angeles,3106524025,californian
42,42,spago,8795 sunset boulevard,hollywood,3106524025,californian
43,43,valentino,3115 pico boulevard,santa monica,3108294313,italian
45,45,chinese cuisine gourmet kang yujean,67 raymond avenue,los angeles,8185850855,asian
46,46,kang yujean,67 raymond avenue,pasadena,8185850855,chinese
47,47,21 club,21 52 street,new york,2125827200,american
49,49,aquavit,13 54 street,new york,2123077311,continental
51,51,aureole,34 61 street,new york,2123191660,american
53,53,cafelo,201 83 street,new york,2124966031,coffee bar
55,55,artistes cafe des,1 67 street,new york,2128773500,continental
57,57,carmine,2450 broadway,new york,2123622200,italian
59,59,carnegie deli,854 7 avenue,new york,2127572245,delicatessen
61,61,chanterelle,2 harrison street,new york,2129666960,american
63,63,daniel,20 76 street,new york,2122880033,french
65,65,dawat,210 58 street,new york,2123557555,asian
67,67,felidia,243 58 street,new york,2127581479,italian
69,69,four grill room seasons,99 52 street,new york,2127549494,american
70,70,four seasons,99 52 street,new york,2127549494,american (new)
71,71,bar gotham grill,12 12 street,new york,2126204020,american
73,73,gramercy tavern,42 20 street,new york,2124770777,american
75,75,isl spice,402 44 street,new york,2127651737,tel caribbean
77,77,jo jo,160 64 street,new york,2122235656,american
79,79,caravelle la,33 55 street,new york,2125864252,french
81,81,basque cote la,60 55 street,new york,2126886525,french
83,83,bernardin le,155 51 street,new york,2124891515,french
85,85,celebrites les,160 central park,new york,2124845113,french
87,87,lespinasse,2 55 street,new york,2123396719,american
88,88,lespinasse,2 55 street,new york,2123396719,asian
89,89,lutece,249 50 street,new york,2127522225,french
91,91,club manhattan ocean,57 58 street,new york,2123717777,seafood
93,93,march,405 58 street,new york,2127546272,american
95,95,grill mesa,102 5 avenue,new york,2128077400,american
97,97,cocina mi,57 jane street,new york,2126278273,mexican
99,99,montrachet,239 broadway,new york,2122192777,french
101,101,oceana,55 54 street,new york,2127595941,seafood
103,103,avenue cafe park,100 63 street,new york,2126441900,american
104,104,avenue cafe park,100 63 street,new york,2126441900,american (new)
105,105,petrossian,182 58 street,new york,2122452214,french
107,107,picholine,35 64 street,new york,2127248585,mediterranean
109,109,pisces,95 avenue a,new york,2122606660,seafood
111,111,rainbow room,30 rockefeller plaza,new york,2126325000,or 212/632-5100 american
113,113,cafe river,1 water street,brooklyn,7185225200,american
115,115,domenico san,240 central park,new york,2122655959,italian
117,117,avenue deli second,156 2 avenue,new york,2126770606,delicatessen
119,119,seryna,11 53 street,new york,2129809393,asian
121,121,lee shun,43 65 street,new york,2123718844,asian
122,122,lee palace shun,155 55 street,new york,2123718844,chinese
123,123,sign,1110 3 avenue,new york,2128618080,american
125,125,smith wollensky,201 49 street,new york,2127531530,american
127,127,green on tavern,in central park,new york,2128733200,american
129,129,nick uncle,747 9 avenue,new york,2123151726,mediterranean
131,131,cafe square union,21 16 street,new york,2122434020,american
133,133,virgil,152 44 street,new york,2129219494,american
134,134,bbq real virgil,152 44 street,new york,2129219494,bbq
135,135,chin,3200 las vegas boulevard,las vegas,7027338899,asian
137,137,cafe coyote,3799 las vegas boulevard,las vegas,7028917349,southwestern
138,138,cafes coyote vegas,3799 las vegas boulevard,las vegas,7028917349,southwestern
139,139,le montrachet,3000 paradise road,las vegas,7027325111,continental
140,140,bistro le montrachet,3000 paradise road,las vegas,7027325651,french bistro
141,141,court palace,3570 las vegas boulevard,las vegas,7027317547,continental
143,143,grille second street,200 fremont street,las vegas,7023853232,seafood
144,144,grill second street,200 fremont street,las vegas,7023856277,pacific rim
145,145,house steak,2880 las vegas boulevard,las vegas,7027340410,steak houses
146,146,house steak,2880 las vegas boulevard,las vegas,7027340410,steakhouses
147,147,tillerman,2245 flamingo road,las vegas,7027314036,seafood
148,148,tillerman,2245 flamingo road,las vegas,7027314036,steakhouses
149,149,abruzzi,2355 peachtree road peachtree battle shopping center,atlanta,4042618186,italian
151,151,bacchanalia,3125 piedmont road,atlanta,4043650410,international
153,153,bone,3130 piedmont road,atlanta,4042372663,american
154,154,bone,3130 piedmont road,atlanta,4042372663,steakhouses
155,155,brasserie coze le,3393 peachtree road lenox square mall,atlanta,4042661440,french
157,157,buckhead diner,3073 piedmont road,atlanta,4042623336,american
159,159,ciboulette,1529 piedmont avenue,atlanta,4048747600,french
160,160,ciboulette,1529 piedmont avenue,atlanta,4048747600,french (new)
161,161,delectables,1 margaret mitchell sq,atlanta,4046812909,american
163,163,georgia grille,2290 peachtree road peachtree square shopping center,atlanta,4043523517,american

In [27]:
 
utils.get_final_dataset(_, restaurant_data)

dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found
dup found

{'1': [2],
 '10': [],
 '100': [],
 '101': [102],
 '102': [],
 '105': [106],
 '106': [],
 '107': [108],
 '108': [],
 '109': [110],
 '11': [12],
 '110': [],
 '111': [112],
 '112': [],
 '113': [114],
 '114': [],
 '115': [116],
 '116': [],
 '117': [118],
 '118': [],
 '119': [120],
 '12': [],
 '120': [],
 '123': [124],
 '124': [],
 '125': [126],
 '126': [],
 '127': [128],
 '128': [],
 '129': [130],
 '13': [14],
 '130': [],
 '131': [132],
 '132': [],
 '135': [136],
 '136': [],
 '14': [],
 '141': [142],
 '142': [],
 '149': [150],
 '15': [16],
 '150': [],
 '151': [152],
 '152': [],
 '155': [156],
 '156': [],
 '157': [158],
 '158': [],
 '16': [],
 '161': [162],
 '162': [],
 '163': [164],
 '164': [],
 '165': [166],
 '166': [],
 '167': [168],
 '168': [],
 '169': [170],
 '17': [18],
 '170': [],
 '171': [172],
 '172': [],
 '173': [174],
 '174': [],
 '175': [176],
 '176': [],
 '179': [180],
 '18': [],
 '180': [],
 '181': [182],
 '182': [],
 '183': [184],
 '184': [],
 '185': [186],
 '186': [],
 '187': [188],
 '188': [],
 '189': [190],
 '190': [],
 '191': [192],
 '192': [],
 '193': [194],
 '194': [],
 '195': [196],
 '196': [],
 '197': [198],
 '198': [],
 '199': [200],
 '2': [],
 '200': [],
 '201': [202],
 '202': [],
 '203': [204],
 '204': [],
 '205': [206],
 '206': [],
 '207': [208],
 '208': [],
 '209': [210],
 '210': [],
 '213': [214],
 '214': [],
 '217': [218],
 '218': [],
 '219': [220],
 '220': [],
 '221': [222],
 '222': [],
 '223': [224],
 '224': [],
 '23': [24],
 '24': [],
 '27': [28],
 '28': [],
 '29': [30],
 '30': [],
 '31': [32],
 '32': [],
 '33': [34],
 '34': [],
 '35': [36],
 '36': [],
 '37': [38],
 '38': [],
 '39': [40],
 '40': [],
 '43': [44],
 '44': [],
 '47': [48],
 '48': [],
 '49': [50],
 '5': [6],
 '50': [],
 '51': [52],
 '52': [],
 '53': [54],
 '54': [],
 '55': [56],
 '56': [],
 '57': [58],
 '58': [],
 '59': [60],
 '6': [],
 '60': [],
 '61': [62],
 '62': [],
 '63': [64],
 '64': [],
 '65': [66],
 '66': [],
 '67': [68],
 '68': [],
 '7': [8],
 '71': [72],
 '72': [],
 '73': [74],
 '74': [],
 '75': [76],
 '76': [],
 '77': [78],
 '78': [],
 '79': [80],
 '8': [],
 '80': [],
 '81': [82],
 '82': [],
 '83': [84],
 '84': [],
 '85': [86],
 '86': [],
 '89': [90],
 '9': [10],
 '90': [],
 '91': [92],
 '92': [],
 '93': [94],
 '94': [],
 '95': [96],
 '96': [],
 '97': [98],
 '98': [],
 '99': [100]}

In [28]:
#from pymongo import MongoClient
#client = MongoClient("mongodb+srv://Username:PW@cluster0-uqgxm.mongodb.net/test?retryWrites=true&w=majority", serverSelectionTimeoutMS=60)
#db = client.dmdb_db
#collection = db.testet

#data = restaurant_data.to_dict(orient='records') 
#data = {"keay": "vaasfewio"}
#collection.insert_one(data)